#maze-grid {
    background-color: black;
}
body {
    background-color: black;
    color: white;
    user-select: none;
}
@media print {
    #maze-grid {
        filter: invert(100%);
    }
}
@media screen and (orientation: landscape) {
    #main {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

#controls {
    width: 100vw;
    position: fixed;
    background-color: black;
    padding: 10px;
    z-index: 1;
}
#controls > button {
    background-color: black;
    border: olive 2px solid;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

#main, #controls {
    display: none;
}

#game-over-parent {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    padding: 20px;
    border: 2px solid olive;
    border-radius: 5px;
    text-align: center;
    min-width: 20vw;
    min-height: 20vh;
}
#game-over-parent > button {
    background-color: black;
    border: orange 2px solid;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}