#onscreen-nav {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    border-radius: 50%;
    background-color: rgba(244, 165, 96, .5);

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    z-index: 1;
    display: none;
}
#onscreen-nav.show-onscreen-nav {
    display: grid;
}
@media screen and (orientation: landscape) {
    #onscreen-nav {
        display: none !important; /* On screen nav only for portrait */
    }
}
#onscreen-nav > button {
    background-color: rgb(0, 0, 169, .9);
    border: olive solid 2px;
    font-size: large;
    font-weight: bolder;
    width: 3em;
    height: 3em;
    color: white;
    border-radius: 10%;
    padding: 10px;
    outline: none !important;
}
#onscreen-nav > button:focus {
    background-color: rgba(0, 0, 169, 1);
    color: white;
}