#fullscreen-btn {
    position: fixed;
    z-index: 1000;
    left: calc(5px + 100vw - 100dvw);
    top: calc(5px + 100vh - 100dvh);
}
#fullscreen-btn:hover {
    scale: 1.1;
    rotate: -45deg;
    transition: 2s;
    cursor: pointer;
}