#fullscreen-btn {
    position: fixed;
    z-index: 1000;
    left: calc(5px + 100dvw - 100dvw);
    top: calc(5px + 100dvh - 100dvh);
}
#fullscreen-btn:hover {
    scale: 1.1;
    rotate: -45deg;
    transition: 2s;
    cursor: pointer;
}
#fullscreen-notice {
    position: fixed;
    z-index: 1000;
    color: rgba(255, 255, 255, 0.5);
    font-size: small;
}
#fullscreen-notice:hover {
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}