body {
    background-color: black;
    color: white;
    user-select: none;
    overscroll-behavior: none;
    overflow: hidden;
}
* {
    scrollbar-width: none;
    transition: .1s;
}
:root {
    touch-action: pan-x pan-y;
    height: 100%;
}
.donotanimate * {
    transition: none !important;
}
*::-webkit-scrollbar {
    display: none;
}
#main-and-controls-parent {
    display: flex;
    flex-direction: column;
    height: 100dvh;
}
#main {
    overflow: scroll;

    flex-grow: 1;
    margin: 10px auto;

    text-align: center;
}
#maze-grid {
    background-color: black;
    position: relative;
}
#maze-grid > rect.current-player {
    fill: green;
    transition: none;
}
#maze-overlay {
    position: absolute;
    z-index: 1;
    cursor: grab;
}

#controls {
    height: fit-content;
    background-color: black;
    padding: 10px 0;
    z-index: 1;
    margin: 0 auto;
    bottom: 0;
    transition: opacity .5s;
    text-align: center;

    display: none;
}
#controls > #other-options > button {
    background-color: black;
    border: olive 2px solid;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin: 2px;
}
#controls > #other-options > button:hover {
    background-color: rgba(100, 200, 100, .1);
    border-color: darkgoldenrod;
}
#levels-control {
    width: fit-content;
    margin: 10px auto;
    background-color: black;
    border: rgba(255, 255, 255, .5) 1px solid;
    padding: 10px;
    border-radius: 20px;
}
#levels-control > button {
    background-color: black;
    border: yellowgreen 2px solid;
    border-radius: 10px;
    color: white;
    padding: 10px;
    cursor: pointer;
}
#levels-control > button:hover {
    background-color: rgba(100, 255, 100, .25);
}
#levels-control > button.current-lvl {
    background-color: darkgreen;

}
#zoom-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px auto;
}
#zoom-controls > button {
    margin: 0 5px;
    background-color: black;
    color: olive;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-items: center;
    border: 0;
    background-color: #69696911;
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    cursor: pointer;
}
#zoom-controls > button:hover {
    background-color: #69696922;
}
#zoom-percent {
    font-size: small;
    color: #696969;
}

#main, #controls {
    display: none;
}
@media screen and (orientation: landscape) {
    #controls {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100vw;            
    }
    #levels-control {
        margin: 0 10px;
    }
    #zoom-controls {
        margin: 0 10px !important;
    }
}

#game-over-parent {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    padding: 20px;
    border: 2px solid olive;
    border-radius: 5px;
    text-align: center;
    min-width: 20dvw;
    min-height: 20dvh;
}
#game-over-parent > button {
    background-color: black;
    border: orange 2px solid;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
#game-over-parent > button:hover {
    background-color: rgba(100, 200, 100, .1);
    border-color: darkgoldenrod;
}
#game-over-maze-parent {
    max-width: 95dvw;
    overflow: scroll;
    margin: 10px;
}
#game-over-maze-parent > #main {
    transform: unset;
    position: unset;
}

#loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
#loading > h1 {
    animation: loading 1.5s infinite;
}
@keyframes loading {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
}
#loading-might-take-a-while {
    opacity: 0;
    animation: display-slowly 2s 3s forwards;
}
@keyframes display-slowly {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#help-parent {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: fit-content;
    overflow-y: scroll;
    max-width: 95dvw;
    max-height: 95dvh;
    min-width: 70dvw;
    min-height: 70dvh;
    overflow: scroll;
    padding: 10px;

    background-color: black;
    border: olive 2px solid;
    border-radius: 10px;
    z-index: 10;

    display: none;
}
#help {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    overflow-y: scroll;
}
#close-help-btn {
    padding: 10px;
    cursor: pointer;
    color: white;
    background-color: black;
    border: sandybrown 1px solid;
    z-index: 11;
    border-radius: 5px;
}
#msg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#share-url {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background-color: black;
    border: olive 2px solid;
    padding: 20px;
    border-radius: 5px;
    min-width: 40vw;
    text-align: center;
    user-select: text;
}
#share-url > h3 {
    user-select: none;
}
#share-url > a {
    color: white;
    padding: 10px;
    cursor: pointer;
    user-select: text;
}