#onscreen-nav {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    border-radius: 50%;
    background-color: rgba(244, 165, 96, .5);

    position: absolute;
    z-index: 2;
    display: none;

    resize: both;
}
#onscreen-nav.show-onscreen-nav {
    display: grid;
}
#onscreen-nav > button {
    background-color: rgb(0, 0, 169, .9);
    border: olive solid 2px;
    font-size: large;
    font-weight: bolder;
    width: 3em;
    height: 3em;
    color: white;
    border-radius: 10%;
    padding: 10px;
}
#onscreen-nav > button:focus {
    background-color: rgb(0, 69, 169);
}
#onscreen-nav > button:disabled {
    opacity: .2;
}
#onscreen-nav-assist {
    border-radius: 50% !important;
    width: 2.5rem !important;
    height: 2.5rem !important;
    margin: auto;
}