@media screen and (orientation: portrait) {
    body {
        margin: 0;
    }
    #main {
        width: 95dvw;
        height: 70dvh;
    }
    #controls {
        flex-direction: column;
    }
    #msg {
        width: 90dvw;
        text-align: center;
    }
}