@media screen and (orientation: portrait) {
    body {
        margin: 0;
    }
    #main {
        width: 95dvw;
        height: 70dvh;
    }
    #controls {
        width: max-content;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: calc(30dvh - 20px);
    }
    #help {
        width: 90%;
    }
    #msg {
        width: 90dvw;
        text-align: center;
    }
}