@media print {
    @page {
        margin: 0;
    }

    #maze-grid {
        transform: unset !important;
        filter: invert(100%);
    }
    #maze-grid > rect {
        fill: black;
    }
    #maze-grid > rect[fill="red"], #maze-grid > rect.current-player {
        filter: invert(100%) !important;
        fill: black !important;
    }

    #controls {
        display: none !important;
    }
    #main {
        position: absolute;
        left: 50%;
        top: 1vh;
        transform: translateX(-50%);
        height: 100vh;
    }
    #help-parent, #game-over-parent {
        display: none !important;
    }

    #print-msg {
        display: block !important;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100dvw;
        text-align: center;
        margin-bottom: 69px;
        color: black;
    }
}