@media print {
    @page {
        margin: 0;
    }

    #maze-grid {
        transform: unset !important;
        filter: invert(100%);
    }
    #maze-grid > *[stroke=olivedrab], #maze-grid > *[stroke=olive] {
        stroke: white;
    }
    #maze-grid > rect {
        fill: black;
    }
    #maze-grid > rect[fill="red"], #maze-grid > rect.current-player, #maze-grid > rect[fill="rgba(200, 0, 0, .5)"], #maze-grid > rect[fill="rgba(0, 200, 0, .5)"] {
        fill: rgba(200, 200, 200, .5) !important;
    }

    #controls {
        display: none !important;
    }
    #main {
        position: absolute;
        left: 50%;
        top: 1vh;
        transform: translateX(-50%);
        height: 100vh;
    }
    #help-parent, #game-over-parent {
        display: none !important;
    }

    #print-msg {
        display: block !important;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100dvw;
        text-align: center;
        margin-bottom: 69px;
        color: black;
    }
}